@font-face {
  font-family: "poppins-bold";
  src: url(/assets/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "poppins-regular";
  src: url(/assets/Poppins/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins-semi";
  src: url(/assets/Poppins/Poppins-SemiBold.ttf);
  font-weight: 500;
  font-style: normal;
}
#header {
  min-height: 10vh;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  background-color: #65cd00;
}
#header .header-nav {
  width: 100%;
  display: grid;
  place-items: start;
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  place-items: center;
  grid-template-rows: repeat(2, 1fr);
}
#header .header-nav .social-list {
  align-self: start;
  list-style: none;
  height: 4.8vh;
  width: 100%;
  background-color: #0e0d0d;
  padding: 0 16px;
  font-family: "poppins-bold";
  font-weight: 900;
  font-style: normal;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(94px, 1fr));
}
#header .header-nav .social-list .social-item {
  width: 100%;
}
#header .header-nav .social-list .social-item a {
  text-decoration: none;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
#header .header-nav .social-list .social-item a img {
  width: 20px;
  height: 20px;
  justify-self: end;
}
#header .header-nav .social-list .social-item a .mobile {
  font-family: "poppins-bold";
  font-weight: 900;
  font-style: normal;
  font-size: 0.75rem;
  line-height: normal;
  letter-spacing: normal;
  text-transform: capitalize;
  color: #65cd00;
  margin-left: 5px;
}
#header .header-nav .social-list .social-item a .tablet {
  display: none;
}
#header .header-nav .mobile-nav {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  min-height: 70%;
  background-color: #65cd00;
  align-self: start;
}
#header .header-nav .mobile-nav .menu {
  justify-self: start;
  padding: 0 16px;
}
#header .header-nav .mobile-nav .logo-link .logo {
  color: #0e0d0d;
}
#header .header-nav .mobile-nav .cart {
  justify-self: end;
  padding: 0 16px;
}
#header .header-nav .nav-list {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  display: none;
}
#header .header-nav .nav-list .nav-items {
  width: 1005%;
}
#header .header-nav .nav-login {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  display: none;
}
#header .header-nav .nav-login img {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 600px) {
  .social-list {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

#footer {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  background-color: #65cd00;
}
#footer #main-footer {
  width: 90%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
}
#footer #main-footer #footer-nav,
#footer #main-footer #activity,
#footer #main-footer #contact-us {
  display: grid;
  place-items: start;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  margin-top: 16px;
}
#footer #main-footer #footer-nav .footerLogo-link,
#footer #main-footer #activity .footerLogo-link,
#footer #main-footer #contact-us .footerLogo-link {
  text-decoration: none;
}
#footer #main-footer #footer-nav .footerLogo-link .footer-logo,
#footer #main-footer #activity .footerLogo-link .footer-logo,
#footer #main-footer #contact-us .footerLogo-link .footer-logo {
  color: #0e0d0d;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 16px 0;
}
#footer #main-footer #footer-nav .nav-title,
#footer #main-footer #footer-nav .activity-title,
#footer #main-footer #footer-nav .contact-title,
#footer #main-footer #activity .nav-title,
#footer #main-footer #activity .activity-title,
#footer #main-footer #activity .contact-title,
#footer #main-footer #contact-us .nav-title,
#footer #main-footer #contact-us .activity-title,
#footer #main-footer #contact-us .contact-title {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
#footer #main-footer #footer-nav .footerNav-list,
#footer #main-footer #footer-nav .activity-list,
#footer #main-footer #activity .footerNav-list,
#footer #main-footer #activity .activity-list,
#footer #main-footer #contact-us .footerNav-list,
#footer #main-footer #contact-us .activity-list {
  list-style: none;
  display: grid;
  place-items: start;
  grid-template-columns: repeat(1, 1fr);
  font-size: 0.9rem;
  font-weight: 900;
}
#footer #main-footer #footer-nav .footerNav-list .footerNav-item .footerNav-link,
#footer #main-footer #footer-nav .footerNav-list .footerNav-item .activity-link,
#footer #main-footer #footer-nav .footerNav-list .activity-items .footerNav-link,
#footer #main-footer #footer-nav .footerNav-list .activity-items .activity-link,
#footer #main-footer #footer-nav .activity-list .footerNav-item .footerNav-link,
#footer #main-footer #footer-nav .activity-list .footerNav-item .activity-link,
#footer #main-footer #footer-nav .activity-list .activity-items .footerNav-link,
#footer #main-footer #footer-nav .activity-list .activity-items .activity-link,
#footer #main-footer #activity .footerNav-list .footerNav-item .footerNav-link,
#footer #main-footer #activity .footerNav-list .footerNav-item .activity-link,
#footer #main-footer #activity .footerNav-list .activity-items .footerNav-link,
#footer #main-footer #activity .footerNav-list .activity-items .activity-link,
#footer #main-footer #activity .activity-list .footerNav-item .footerNav-link,
#footer #main-footer #activity .activity-list .footerNav-item .activity-link,
#footer #main-footer #activity .activity-list .activity-items .footerNav-link,
#footer #main-footer #activity .activity-list .activity-items .activity-link,
#footer #main-footer #contact-us .footerNav-list .footerNav-item .footerNav-link,
#footer #main-footer #contact-us .footerNav-list .footerNav-item .activity-link,
#footer #main-footer #contact-us .footerNav-list .activity-items .footerNav-link,
#footer #main-footer #contact-us .footerNav-list .activity-items .activity-link,
#footer #main-footer #contact-us .activity-list .footerNav-item .footerNav-link,
#footer #main-footer #contact-us .activity-list .footerNav-item .activity-link,
#footer #main-footer #contact-us .activity-list .activity-items .footerNav-link,
#footer #main-footer #contact-us .activity-list .activity-items .activity-link {
  text-decoration: none;
  color: #0e0d0d;
}
#footer #main-footer #footer-nav .footerNav-list .footerNav-item .footerNav-link:hover,
#footer #main-footer #footer-nav .footerNav-list .footerNav-item .activity-link:hover,
#footer #main-footer #footer-nav .footerNav-list .activity-items .footerNav-link:hover,
#footer #main-footer #footer-nav .footerNav-list .activity-items .activity-link:hover,
#footer #main-footer #footer-nav .activity-list .footerNav-item .footerNav-link:hover,
#footer #main-footer #footer-nav .activity-list .footerNav-item .activity-link:hover,
#footer #main-footer #footer-nav .activity-list .activity-items .footerNav-link:hover,
#footer #main-footer #footer-nav .activity-list .activity-items .activity-link:hover,
#footer #main-footer #activity .footerNav-list .footerNav-item .footerNav-link:hover,
#footer #main-footer #activity .footerNav-list .footerNav-item .activity-link:hover,
#footer #main-footer #activity .footerNav-list .activity-items .footerNav-link:hover,
#footer #main-footer #activity .footerNav-list .activity-items .activity-link:hover,
#footer #main-footer #activity .activity-list .footerNav-item .footerNav-link:hover,
#footer #main-footer #activity .activity-list .footerNav-item .activity-link:hover,
#footer #main-footer #activity .activity-list .activity-items .footerNav-link:hover,
#footer #main-footer #activity .activity-list .activity-items .activity-link:hover,
#footer #main-footer #contact-us .footerNav-list .footerNav-item .footerNav-link:hover,
#footer #main-footer #contact-us .footerNav-list .footerNav-item .activity-link:hover,
#footer #main-footer #contact-us .footerNav-list .activity-items .footerNav-link:hover,
#footer #main-footer #contact-us .footerNav-list .activity-items .activity-link:hover,
#footer #main-footer #contact-us .activity-list .footerNav-item .footerNav-link:hover,
#footer #main-footer #contact-us .activity-list .footerNav-item .activity-link:hover,
#footer #main-footer #contact-us .activity-list .activity-items .footerNav-link:hover,
#footer #main-footer #contact-us .activity-list .activity-items .activity-link:hover {
  color: #f4f9ff;
}
#footer #main-footer #footer-nav .contact-info,
#footer #main-footer #activity .contact-info,
#footer #main-footer #contact-us .contact-info {
  font-size: 0.9rem;
}
#footer #main-footer #footer-nav .contact-info .contact-infoLink,
#footer #main-footer #activity .contact-info .contact-infoLink,
#footer #main-footer #contact-us .contact-info .contact-infoLink {
  color: #cd212a;
  font-weight: bolder;
}
#footer #main-footer #footer-nav .contact-social .contact-socialItem .social-link .social-LinkImg,
#footer #main-footer #activity .contact-social .contact-socialItem .social-link .social-LinkImg,
#footer #main-footer #contact-us .contact-social .contact-socialItem .social-link .social-LinkImg {
  width: 30px;
  height: 30px;
}

/*# sourceMappingURL=about-us.css.map */
