@font-face {
  font-family: "poppins-bold";
  src: url(/assets/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "poppins-regular";
  src: url(/assets/Poppins/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins-semi";
  src: url(/assets/Poppins/Poppins-SemiBold.ttf);
  font-weight: 500;
  font-style: normal;
}
#header {
  min-height: 10vh;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  font-family: "poppins-bold";
  font-weight: 700;
  font-style: normal;
  background-color: #65cd00;
}
#header .header-nav {
  width: 100%;
  display: grid;
  place-items: start;
  grid-template-columns: repeat(1, 1fr);
  display: grid;
  place-items: center;
  grid-template-rows: repeat(2, 1fr);
}
#header .header-nav .social-list {
  align-self: start;
  list-style: none;
  height: 4.8vh;
  width: 100%;
  background-color: #0e0d0d;
  padding: 0 16px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(94px, 1fr));
}
#header .header-nav .social-list .social-item {
  width: 100%;
}
#header .header-nav .social-list .social-item a {
  text-decoration: none;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
#header .header-nav .social-list .social-item a img {
  width: 20px;
  height: 20px;
  justify-self: end;
}
#header .header-nav .social-list .social-item a .mobile {
  font-size: 0.75rem;
  line-height: normal;
  letter-spacing: normal;
  text-transform: capitalize;
  color: #65cd00;
  margin-left: 5px;
}
#header .header-nav .social-list .social-item a .tablet {
  display: none;
}
#header .header-nav .mobile-nav {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  min-height: 70%;
  background-color: #65cd00;
  align-self: start;
}
#header .header-nav .mobile-nav .menu {
  justify-self: start;
  padding: 0 16px;
}
#header .header-nav .mobile-nav .logo-link {
  text-decoration: none;
}
#header .header-nav .mobile-nav .logo-link .logo {
  color: #0e0d0d;
}
#header .header-nav .mobile-nav .cart {
  justify-self: end;
  padding: 0 16px;
}
#header .header-nav .nav-list {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  display: none;
}
#header .header-nav .nav-login {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  display: none;
}
#header .header-nav .nav-login img {
  width: 20px;
  height: 20px;
}

@media only screen and (min-width: 600px) {
  .social-list {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

#footer {
  min-height: 10vh;
  background-color: #65cd00;
}

.social-link img {
  width: 30px;
  height: 30px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  list-style: none;
}

#main {
  min-height: 80vh;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
}
#main .main-menu {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  align-self: start;
  list-style: none;
  width: 100%;
  border: 1px solid #65cd00;
  background-color: #f4f9ff;
}
#main .main-menu .menu-list {
  width: 100%;
  min-height: 6vh;
  list-style: none;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
}
#main .main-menu .menu-list .menu-item {
  font-size: 0.59rem;
  letter-spacing: 0.0211px;
  text-transform: uppercase;
  color: #65cd00;
  font-weight: 900;
}

@media only screen and (min-width: 600px) {
  .social-list {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

/*# sourceMappingURL=style.css.map */
