@use "partials/header";
@use "partials/footer";
@use "partials/variables";
@use "partials/fonts";
@use "partials/mixin";

* {
  margin: 0;
  padding: 0;
}
body {
  list-style: none;
  text-decoration: none;
  @include mixin.poppins-regular;
}
#main {
  min-height: 80vh;
  @include mixin.grid-center-columns(grid, center, 1);
  background-color: variables.$italian-white;

  .main-menu {
    @include mixin.grid-center-columns(grid, center, 1);
    align-self: start;
    list-style: none;
    width: 100%;
    border: 1px solid variables.$italian-limegreen;

    .menu-list {
      width: 100%;
      min-height: 6vh;
      list-style: none;
      @include mixin.grid-center-flexable(grid, center, repeat(5, 1fr));
      .menu-item {
        font-size: 0.69rem;
        letter-spacing: 0.0211px;
        text-transform: uppercase;
        color: variables.$italian-limegreen;
        font-weight: 900;
      }
    }
  }
}
// / tablet-query
.social-list {
  @media only screen and (min-width: 600px) {
    @include mixin.grid-center-tabletHeader(grid, center, repeat(3, 1fr));
  }
}
