@font-face {
  font-family: "poppins-bold";
  src: url(/assets/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "poppins-regular";
  src: url(/assets/Poppins/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "poppins-semi";
  src: url(/assets/Poppins/Poppins-SemiBold.ttf);
  font-weight: 500;
  font-style: normal;
}
