@use "variables";
@use "mixin";
#footer {
  @include mixin.grid-center-columns(grid, center, 1);
  background-color: variables.$italian-limegreen;
  #main-footer {
    margin-top: 14px;
    width: 90%;
    @include mixin.grid-center-columns(grid, center, 1);
    #footer-nav,
    #activity {
      @include mixin.grid-center-columns(grid, start, 1);
      width: 100%;
      margin-top: 3px;
      .footerLogo-link {
        text-decoration: none;
        .footer-logo {
        }
      }
      .nav-title,
      .activity-title {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: variables.$italian-newRed;
      }
      .footerNav-list,
      .activity-list {
        list-style: none;
        @include mixin.grid-center-columns(grid, start, 1);
        font-size: 0.9rem;
        font-weight: 400;
        .footerNav-item,
        .activity-items {
          .footerNav-link,
          .activity-link {
            text-decoration: none;
            color: variables.$itaian-black;

            &:hover {
              color: variables.$italian-white;
            }
          }
        }
      }
    }
    #contact-us {
      @include mixin.grid-center-columns(grid, start, 1);
      width: 100%;
      .contact-title {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: variables.$italian-newRed;
      }
      .contact-info {
        font-size: 0.9rem;
        .contact-infoLink {
          color: variables.$italian-newRed;
          font-weight: bolder;
          text-decoration: none;
          &:hover {
            color: variables.$italian-white;
          }
        }
      }
      .social-list {
        list-style: none;

        @include mixin.grid-center-columns(grid, start, 3);

        .social-item {
          padding: 5px;
          .social-link {
            width: 400px;

            .social-img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
    #subscribe {
      @include mixin.grid-center-columns(grid, start, 1);
      width: 100%;
      .subscribe-title {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        color: variables.$italian-newRed;
      }
      .subscribe-info {
        font-size: 0.9rem;
      }
      form {
        margin-bottom: 16px;
        input {
          min-height: 10px;
          border-radius: 6px;
          padding: 8px;
          background-color: variables.$italian-white;
          border: 1px solid variables.$italian-limegreen;
        }
        button {
          background-color: variables.$italian-newRed;
          border: none;
          width: 62px;
          padding: 6px;
          color: variables.$italian-white;
          border-radius: 6px;
        }
      }
    }
  }
  // .line-br {
  //   width: 100%;
  //   margin-top: 1rem;
  //   height: 2px;
  //   color: none;
  //   background-color: variables.$italian-white;
  //   border: none;
  // }

  .copy-right {
    @include mixin.grid-center-columns(grid, center, 2);
    justify-self: center;
    width: 90%;
    .copy-body {
      font-size: 0.499rem;
      &:hover {
        color: variables.$italian-newRed;
      }
    }
    .copy-tearms {
      font-size: 0.499rem;
      justify-self: start;
      &:hover {
        color: variables.$italian-newRed;
      }
      @include mixin.tablet {
        justify-self: end;
        background-color: aqua;
      }
    }
  }
}

// mobile.query
@media only screen and (min-width: 600px) {
  .copy-tearms {
    font-size: 0.6rem;
    justify-self: end;
  }
}
