@use "variables";
@use "mixin";
#header {
  min-height: 10vh;
  @include mixin.grid-center-columns(grid, center, 1);
  @include mixin.poppins-bold;
  background-color: variables.$italian-limegreen;
  .header-nav {
    @include mixin.grid-center-columns(grid, end, 1);
    @include mixin.grid-center-rows(grid, center, 2);

    .social-list {
      align-self: start;
      min-height: 4.2vh;
      background-color: variables.$itaian-black;
      padding: 0 16px;
      @include mixin.grid-center-columns(grid, center, 3);

      li {
        @include mixin.grid-center-columns(grid, end, 2);
        a {
          text-decoration: none;
          @include mixin.grid-center-columns(grid, center, 2);
          width: 100%;

          img {
            width: 20px;
            height: 20px;
            justify-self: center;
          }
          .mobile {
            @include mixin.font-properties(0.75rem);
            text-transform: capitalize;
            color: variables.$italian-limegreen;
            margin-left: 5px;
          }
          .tablet {
            display: none;
          }
        }
      }
    }
    .mobile-nav {
      @include mixin.grid-center-columns(grid, center, 3);
      width: 100%;
      background-color: variables.$italian-limegreen;
      align-self: start;
      min-height: 5.612vh;

      .menu {
        justify-self: start;
        padding: 0 16px;
      }
      .logo-link {
        text-decoration: none;
        .logo {
          color: variables.$itaian-black;
        }
      }
      .cart {
        justify-self: end;
        padding: 0 16px;
      }
    }
    .nav-list {
      @include mixin.grid-center-columns(grid, center, 2);
      display: none;

      .nav-items {
      }
    }
    .nav-login {
      @include mixin.grid-center-columns(grid, center, 2);
      display: none;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

// .header-social {
//   color: variables.$italian-limegreen;
//   @include mixin.grid-center(grid, center, 3);
//   @include mixin.font-properties(0.9rem);
//   padding: 16px;

//   .headerSocial-item {
//     @include mixin.grid-center(grid, start, 2);
//     .social-discriptionMobile {
//       @include mixin.font-properties(0.9rem);
//     }
//     .social-discription {
//       display: none;
//     }
//     img {
//       background-color: variables.$italian-limegreen;
//       width: 20px;
//       height: 20px;
//       justify-self: center;
//     }
//   }
// }

//   .main-header {
//     @include mixin.grid-center(grid, center, 4);
//     padding: 16px;
//     background-color: variables.$italian-white;

//     .logo {
//       @include mixin.poppins-bold;
//     }
//   }
// }
