@use "variables";
@use "mixin";
#header {
  min-height: 10vh;
  @include mixin.grid-center-columns(grid, center, 1);
  background-color: variables.$italian-limegreen;
  .header-nav {
    width: 100%;
    @include mixin.grid-center-columns(grid, start, 1);
    @include mixin.grid-center-rows(grid, center, 2);

    .social-list {
      align-self: start;
      list-style: none;
      height: 4.8vh;
      width: 100%;
      background-color: variables.$itaian-black;
      padding: 0 16px;
      @include mixin.poppins-bold;
      @include mixin.grid-center-header(grid, center, repeat(3, 1fr));
      .social-item {
        width: 100%;
        a {
          text-decoration: none;
          @include mixin.grid-center-columns(grid, center, 2);
          width: 100%;

          img {
            width: 20px;
            height: 20px;
            justify-self: end;
          }
          .mobile {
            @include mixin.poppins-bold;
            @include mixin.font-properties(0.75rem);
            text-transform: capitalize;
            color: variables.$italian-limegreen;
            margin-left: 5px;
          }
          .tablet {
            display: none;
          }
        }
      }
    }
    .mobile-nav {
      @include mixin.grid-center-columns(grid, center, 3);
      width: 100%;
      min-height: 70%;
      background-color: variables.$italian-limegreen;
      align-self: start;

      .menu {
        justify-self: start;
        padding: 0 16px;
      }
      .logo-link {
        .logo {
          color: variables.$itaian-black;
        }
      }
      .cart {
        justify-self: end;
        padding: 0 16px;
      }
    }
    .nav-list {
      @include mixin.grid-center-columns(grid, center, 2);
      display: none;

      .nav-items {
        width: 1005%;
      }
    }
    .nav-login {
      @include mixin.grid-center-columns(grid, center, 2);
      display: none;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

// tablet-query
.social-list {
  @media only screen and (min-width: 600px) {
    @include mixin.grid-center-tabletHeader(grid, center, repeat(3, 1fr));
  }
}
