@use "fonts";
@use "variables";

// font-face mixins
@mixin poppins-regular {
  font-family: "poppins-regular";
  font-weight: normal;
  font-style: normal;
  @content;
}

@mixin poppins-semi {
  font-family: "poppins-semi";
  font-weight: 500;
  font-style: normal;
  @content;
}

@mixin poppins-bold {
  font-family: "poppins-bold";
  font-weight: 900;
  font-style: normal;
  @content;
}

// font-size  mixins
@mixin font-properties(
  $text-size,
  $line-height: normal,
  $letter-spacing: normal
) {
  font-size: $text-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  @content;
}
//grid mixin

@mixin grid-center-columns($display, $place-items, $columns) {
  display: $display;
  place-items: $place-items;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin grid-center-rows($rows) {
  grid-template-rows: repeat($rows, 1fr);
}
@mixin grid-center-header($display, $place-items, $columns) {
  display: $display;
  place-items: $place-items;
  grid-template-columns: repeat(auto-fill, minmax(94px, 1fr));
}
@mixin grid-center-tabletHeader($display, $place-items, $columns) {
  display: $display;
  place-items: $place-items;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
@mixin grid-center-flexable($display, $place-items, $columns) {
  display: $display;
  place-items: $place-items;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
}

// mixins for media queries

// @mixin tablet {
//   @media (min-width: $tablet-breakpoint) {
//     @content;
//   }
// }
@mixin tablet {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1000px) {
    @content;
  }
}
