$italian-limegreen: #65cd00;
$italian-limeLight: #deffbb;
$itaian-black: #0e0d0d;
$italian-white: #f4f9ff;
$italian-red: #ff3c00;
$italian-newRed: #cd212a;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1278px;
